* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
 
  height: 110vh;
  color: #FFFFFF;
}

main {
  padding: 5%;
}


.cor-especial-botão {
  background-color: #E72245;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 50px;
}

::-webkit-input-placeholder  { color:#006999 !important;
  font-size: 18px;

}

.form-control{
  border-radius: 20px !important;
}

label {
  margin-top: 40px !important;
}

.sub-menu {
  
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 60px;
}

.sub-menu img {
  margin-left: -80px;
}

.info {
  height: 24px;
  color: #FFFFFF;
  background: #444444;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}